<app-group-list [groups]="data.groups | sort:'amount':'top'"
    (deleteGroup)="deleteGroup($event)"></app-group-list>

<app-control-area [data]="data"></app-control-area>

<div>
    Minimum amount for pass - {{passedNumber | number}} - מספר קולות מינימאלי למעבר ראשוני
    <br>
    New minimum amount for pass - {{newPassedNumber | number}} - מספר קולות מינימאלי למעבר אחרי ניפוי אחוז חסימה
</div>

<hr>

<h3>Passed groups!</h3>
<app-group-list [groups]="newPassedList"></app-group-list>


<app-add-group-form (clear)="clearHistory()"
    (added)="addGroup($event)"></app-add-group-form>