/* You can add global styles to this file, and also import other style files */

:root {
    --main-color: #d0e6f098;
    --hover-color: rgba(208, 230, 240, 0.925);
}

input {
    padding: 4px;
    border-radius: 3px;
    border: 1px gray solid;

    &:focus {
        outline: none;
        box-shadow: 0 2px 0 blue;
        transition: all 0.2s;
    }
}

button {
    cursor: pointer;
}
